extends layout

block content
  h1= title
  article
    p This is the first blog post I've ever written.
   h1.a(href='blog3') blog post 3

    h1.a(href='blog2') blog post 2

     h1.a(href='blog1') blog post 1
   
  
